
.outer{
  display:flex;
  align-items:center ;
  flex-direction: column;
  background-color:deepskyblue;
  margin-top: 70px;
  height:300px;
  width:270px;
  margin-left: 500px;
  border-radius: 40px;
}
.input:focus{
  height:25px;
  color:darkblue;
  border-radius: 5px;
  outline:none;
  border:none

}
.cnt{
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  display:flex;
 margin-top: 70px;
 text-decoration: underline;

   
}
.btn{
  margin-top: 15px;
background-color: olivedrab;
height:25px;
border-radius: 7px;
   
}
